* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    padding-top: 12%;
    
}
.section-left h3 , .section-left p {
    font-family: "PlayfairDisplay-VariableFont_wght.ttf" , sans-serif;
}
.section-left {
    padding: 30px;
    text-align: center;
}
.section-right {
    padding: 10px;
}
.container-main {
    display: flex;
    flex-direction: row;
}
.section-right img {
    width: 90%;
}
.btn-contactez {
   margin-top: 30px;
   display: flex;
   justify-content: center;
}
._btn-content {
    background-color:#54DFFE ;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
   
    margin-top: 60px;
   background-color: #FFC300;
   text-align: center;
   padding: 20px;
   color: white;
   font-family: "PlayfairDisplay-VariableFont_wght.ttf" , sans-serif;
}
