* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    padding-top: 12%;
    
}
.section-left h3 , .section-left p {
    font-family: "PlayfairDisplay-VariableFont_wght.ttf" , sans-serif;
}
.section-left {
    padding: 30px;
    text-align: center;
}
.section-right {
    padding: 10px;
}
.container-main {
    display: flex;
    flex-direction: row;
}
.section-right img {
    width: 90%;
}
.btn-contactez {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   cursor: pointer;
}
._btn-content {
    background-color:#54DFFE ;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.active {
    color : red !important ;
}

@media screen and (max-width: 768px) {
    

    .container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80%;
    }

    .section-left {
        padding: 30px;
        text-align: center;
        order: 2;
    }
    .section-right {
        padding: 10px;
        order: 1;
        text-align: center;
    }
    .section-right img {
        width: 90%;
    }
   
  }
  
